{% extends 'base.html' %}

{% block title %} Добавление слов {% endblock %}

{% block content %}

<div>
    <div>
        <h2>Добавьте слова</h2>
    </div>
    <div>
        <form method="POST" action="">                        
            <div>
                <label for="word1">word1</label>
                <div>
                    <input name="word1" id="word1" type="text" required>                            
                </div>
            </div>
            <div>
                <label for="word2">word2</label>
                <div>
                    <input name="word2" id="word2" type="text" required>                            
                </div>
            </div>

            {% csrf_token %}

            <div>
                <div>
                    <button type = 'sybmit' >Submit</button>                        
                </div>                            
            </div>                                
        </form>
    </div>

{% endblock %}