{% extends 'base.html' %}

{% block title %} My words list {% endblock %}

{% block content %}

<div class="words_list">
    <table>
        <tr>
            <th colspan="2"><b>Таблица списка слов</b></th>
        </tr>
        <tr>
            <th>Слово на оригинале</th>
            <th>Перевод слова</th>
        </tr>
        {% for or_word, tr_word in words_list %}
        <tr>
            <td align="center">{{ or_word }}</td>
            <td align="center">{{ tr_word }}</td>
        </tr>
        {% endfor %}
    </table>

    <style>
        table {
            border: 1px solid grey;
            border-collapse: collapse;
            width: 50%;
        }

        td {
            border: 1px solid grey;
        }
        tr {
            border: 1px solid grey;
        }
    </style>
</div>
{% endblock %}